# Local IPs
127.0.0.1
::1
# Postfix IPs
{{ postfix_ipv4 }}
{% if postfix_ipv6 %}{{ postfix_ipv6 }}{% endif %}
# DNS names
localhost
{% for hostname in postfix_mydestination %}
{{ hostname }}
{% endfor %}
# Postfix networks
{% for network in postfix_mynetworks %}
{{ network }}
{% endfor %}
